<div class="bg-dark text-white p-3">
  <div class="row">
    <div class="col-sm-9"><h3>Busquedas de peliculas</h3></div>
    <!-- <div class="col-sm-3 col-sm-offset-2 "><h5 *ngIf="isLogin">Usuario:&nbsp;&nbsp;{{emailUser}}</h5></div> -->
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#"></a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/buscar']" >Buscar</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/mostrar']" >Resultados</a>
      </li>
    </ul>
  </div>
</nav>