<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Paises</th>
                <th scope="col">Hoy</th>
                <th scope="col">Mañana</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                  <th scope="row">Población Mundial</th>
                  <td>{{pobMundial.cantidadHoy}}</td>
                  <td>{{pobMundial.cantidadTomorrow}}</td>
                </tr>
                <tr>
                  <th scope="row">Argentina</th>
                  <td>{{pobArgentina.cantidadHoy}}</td>
                  <td>{{pobArgentina.cantidadTomorrow}}</td>
                </tr>
                <tr>
                  <th scope="row">Brasil</th>
                  <td>{{pobBrasil.cantidadHoy}}</td>
                  <td>{{pobBrasil.cantidadTomorrow}}</td>
                </tr>
                <tr>
                        <th scope="row">Bolivia</th>
                        <td>{{pobBolivia.cantidadHoy}}</td>
                        <td>{{pobBolivia.cantidadTomorrow}}</td>
                      </tr>
                      <tr>
                            <th scope="row">Paraguay</th>
                            <td>{{pobParaguay.cantidadHoy}}</td>
                            <td>{{pobParaguay.cantidadTomorrow}}</td>
                          </tr>
                          <tr>
                                <th scope="row">Uruguay</th>
                                <td>{{pobUruguay.cantidadHoy}}</td>
                                <td>{{pobUruguay.cantidadTomorrow}}</td>
                              </tr>
                              <tr>
                                    <th scope="row">Perú</th>
                                    <td>{{pobPeru.cantidadHoy}}</td>
                                    <td>{{pobPeru.cantidadTomorrow}}</td>
                                  </tr>
                                     
                    </tbody>
    </table>
</div>
  
  
