<div class="container">
  <div class="row pt-2">
    <div class="col">
    </div>
    <div class="col">
        <h4>Hoy</h4>
    </div>
    <div class="col">
        <h4>Mañana</h4>
    </div>
  </div>
  <div class="row pt-3">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionMundial($evemt)">Población mundial</button>
      </div>
      <div class="col">
          <h6>{{poblacion.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacion.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <hr>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionArgentina($evemt)">Población Argentina</button>
      </div>
      <div class="col">
          <h6>{{poblacionArg.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionArg.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionBrasil($evemt)">Población Brasil</button>
      </div>
      <div class="col">
          <h6>{{poblacionBr.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionBr.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionChile($evemt)">Población Chile</button>
      </div>
      <div class="col">
          <h6>{{poblacionCh.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionCh.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionBolivia($evemt)">Población Bolivia</button>
      </div>
      <div class="col">
          <h6>{{poblacionBl.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionBl.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionParaguay($evemt)">Población Paraguay</button>
      </div>
      <div class="col">
          <h6>{{poblacionPr.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionPr.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionUruguay($evemt)">Población Uruguay</button>
      </div>
      <div class="col">
          <h6>{{poblacionUr.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionUr.cantidadTomorrow}}</h6>  
      </div>
  </div>
  <div class="row py-1">
      <div class="col">
        <button type="button" class="btn btn-info" (click)="poblacionPeruana($evemt)">Población Perú</button>
      </div>
      <div class="col">
          <h6>{{poblacionPeru.cantidadHoy}}</h6>  
      </div>
      <div class="col">
          <h6>{{poblacionPeru.cantidadTomorrow}}</h6>  
      </div>
  </div>

</div>