<!-- <app-buscar (eventoYaBusque)='atajarRespuesta($event)' style='position: absolute; top: 13px; right: 110px;'></app-buscar> -->
<app-buscar (eventoYaBusque)='atajarRespuesta($event)'
    style='position: absolute; top: 13px; right: 250px;'>
</app-buscar>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>
          <h5>Titulo</h5>
        </th>
        <th>
          <h5>Año</h5>
        </th>
        <th>
          <h5>Duración</h5>
        </th>
        <th>
          <h5>Actores</h5>
        </th>
        <th>
          <h5>Premios</h5>
        </th>
        <th>
          <h5>Director</h5>
        </th>
        <th>
          <h5>Genero</h5>
        </th>
        <th>
          <h5>Lenguaje</h5>
        </th>
      </tr>
    </thead>
    <tbody class="text-right">
      <tr>
        <td class='text-center'><b>{{laPelicula.Title}}</b></td>
        <td class='text-center'>{{laPelicula.Released}}</td>
        <td class='text-center'>{{laPelicula.Runtime}}</td>
        <td class='text-center'>{{laPelicula.Actors}}</td>
        <td class='text-center'>{{laPelicula.Awards}}</td>
        <td class='text-center'>{{laPelicula.Director}}</td>
        <td class='text-center'>{{laPelicula.Genre}}</td>
        <td class='text-center'>{{laPelicula.Language}}</td>
      </tr>
      <tr class="mx-auto">
        <img src="{{laPelicula.Poster}}" alt=''>
      </tr>
    </tbody>
  </table>
</div>