<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col">
        <p class='text-center'><b>Título</b></p>
        <p class='text-center'>{{laPelicula.Title}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Fecha</b></p>
        <p class='text-center'>{{laPelicula.Released}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Duración</b></p>
        <p class='text-center'>{{laPelicula.Runtime}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Actores</b></p>
        <p class='text-center'>{{laPelicula.Actors}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Premios</b></p>
        <p class='text-center'>{{laPelicula.Awards}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Director</b></p>
        <p class='text-center'>{{laPelicula.Director}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Genero</b></p>
        <p class='text-center'>{{laPelicula.Genre}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Lenguaje</b></p>
        <p class='text-center'>{{laPelicula.Language}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>IMDB</b></p>
        <p class='text-center'>{{laPelicula.imdbRating}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Pais</b></p>
        <p class='text-center'>{{laPelicula.Country}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Productor</b></p>
        <p class='text-center'>{{laPelicula.Production}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Website</b></p>
        <p class='text-center'>{{laPelicula.Website}}</p>
      </div>
      <div class="col">
        <p class='text-center'><b>Escritor</b></p>
        <p class='text-center'>{{laPelicula.Writer}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col offset-md-4">
        <img src="{{laPelicula.Poster}}" alt='' *ngIf='laPelicula.Poster != "N/A"'>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <app-buscar (eventoYaBusque)='atajarRespuesta($event)'></app-buscar>
  </div>
</div>